/* Position and sizing of burger button */
.bm-burger-button {
  position: relative; 
  width: 2em;
  height: 2em;
  left: 2em;
  top: 2em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--color-background-light);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 1em;
  width: 1em;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: var(--color-accent);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}