.board {
    display: flex;
    flex-grow: 1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.board-discussion {
  width: 33%;
  border-width:0px 1px 0px 1px;
  border-style:solid ;
  border-color:#000000;
}

.timer {
  display: inline;
  padding: 0.5rem;
  font-variant-numeric: tabular-nums;
}

.discussion-title {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

