.List-Board-list {
  padding:0;
  list-style-type: none;
}

.List-Board-list li div {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  padding: 0.5rem;
}

.List-Board-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--color);
}

.List-Board-list li :hover {
  background-color: var(--color-background-light);
}

