.List-Topics-list {
  padding:0;
  list-style-type: none;
}

.List-Topics-list li {
  background-color: white;
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  border-width: 0.05rem;
  border-color: var(--color-accent);
  border-style: solid;
}

.List-Topics-list li div {
  padding: 0 0 1rem 0;
}

.List-Topics-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--color-background-highlight);
}

.List-Topics-list button {
  background-color: var(--color);
  padding: 0;
  margin: 0;
  display: flex;
}

.move-right {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.move-left {
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
}

.centered-container {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  margin: 0;
  padding: 0 !important;
}

.dot-vote {
  position: relative;
  left: -50%;
  color: var(--color-accent);
  line-height: 24px;
  font-size: 1rem;
}

