.Login-form {
  width: 25vw;
  margin: 0 auto;
  text-align: left;
}

.Login-form .submit {
  padding: 0.5rem 0;
  text-align: center;
}

.Login-form .submit button {
  width: 50%;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.Login-form .input {
  padding: 0.5rem 0;
}

.Login-form .input input {
  width: 100%;
  padding: 0.4rem 0;
  margin: 0.25rem 0;
  font-size: 1rem;
}

.Login-form .text {
  padding: 0.5rem 0;
  text-align: center;
}

.Login-form .text a {
  --color-accent: #1c0035;
  text-decoration: none;
}
