.Register-form {
  width: 25vw;
  margin: 0 auto;
  text-align: left;
}

.Register-form .submit {
  padding: 0.5rem 0;
  text-align: center;
}

.Register-form .submit button {
  width: 50%;
  padding: 0.5rem 0;
  font-size: 1rem;
}


.Register-form .input {
  padding: 0.5rem 0;
}

.Register-form .input input {
  width: 100%;
  padding: 0.4rem 0;
  margin: 0.25rem 0;
  font-size: 1rem;
}

