.App {
  text-align: center;
  background-color: var(--color-background);
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: var(--color-accent);
  height: 160px;
  padding: 20px;
  color: var(--color-background-light);
}

.App-title {
  font-size: 1.5em;
  margin: 0.5rem 0;
}

.App-intro {
  font-size: large;
}

.App-login-link button {
  float: right;
  font-size: 0.9rem;
  margin: 0.25rem;
  padding: 0.5rem 0.75rem;
}
