body {
  --color-accent: #1c0035;
  --color-highlight: #8E8478;
  --color-background-dark: #7a635f;
  --color: #EEEFEF;
  --color-background-light: #99889A;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color);
}

button {
  background-color: var(--color-accent);
  color: var(--color);
  outline: none;
}

button:hover {
  background-color: var(--color-highlight);
}

.error-message {
  padding: 1rem;
  color: red;
}